<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">
			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
			About
		</h4>
		{VIEWMODELINFOEDITBUTTON}
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><label>Type:</label>
				{VIEWMYMODELTYPE}</li>
			<li class="list-group-item"><label>Description:</label>
				{VIEWMYMODELDESCRIPTION}</li>
		</ul>
		<p>
			<img src="{VIEWMYMODELPICTURE}" class="img-rounded"
				alt="Model profile picture" width="300">
		</p>
	</div>
</div>