<tr>
	<td><input name="specName_{SPECID}" type="text"
		class="form-control" value="{SPECNAME}"></td>
	<td><input name="specValue_{SPECID}" type="number" step=".01"
		class="form-control" value="{SPECVALUE}"></td>
</tr>