<div class="btn-group pull-right">
	<a href="./viewmodel.php?id={VIEWMYMODELID}&edit=about"
		class="btn btn-default btn-sm"><span
		class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
</div>