<div>
	<ul class="nav nav-tabs" role="tablist">
		<li {MODELINFOTABACTIVE} role="presentation"><a
			aria-controls="info" data-toggle="tab" href="#info" role="tab"><span
				class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
				Info</a></li>
		<li {MODELCOMPONENTSTABACTIVE} role="presentation"><a
			aria-controls="components" data-toggle="tab" href="#components"
			role="tab"><span class="glyphicon glyphicon-list-alt"
				aria-hidden="true"></span> Components</a></li>
		<li {MODELPICTURESTABACTIVE} role="presentation"><a
			aria-controls="pictures" data-toggle="tab" href="#pictures"
			role="tab"><span class="glyphicon glyphicon-picture"
				aria-hidden="true"></span> Pictures</a></li>
		<li {MODELVIDEOSTABACTIVE} role="presentation"><a
			aria-controls="videos" data-toggle="tab" href="#videos" role="tab"><span
				class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
				Videos</a></li>
		<li {MODELTUNINGTABACTIVE} role="presentation"><a
			aria-controls="tuning" data-toggle="tab" href="#tuning" role="tab"><span
				class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
				Tuning</a></li>
		<li {MODELSETTINGSTABACTIVE} role="presentation"><a
			aria-controls="settings" data-toggle="tab" href="#settings"
			role="tab"><span class="glyphicon glyphicon-cog"
				aria-hidden="true"></span> Settings</a></li>
	</ul>
	<div class="tab-content">
		<div id="info" class="tab-pane {MODELINFOACTIVE}" role="tabpanel">
			{VIEWMYMODELINFOTAB}</div>
		<div id="components" class="tab-pane {MODELCOMPONENTSACTIVE}"
			role="tabpanel">{VIEWMYMODELCOMPONENTSTAB}</div>
		<div id="pictures" class="tab-pane {MODELPICTURESACTIVE}"
			role="tabpanel">{VIEWMYMODELPICTURESTAB}</div>
		<div id="videos" class="tab-pane {MODELVIDEOSACTIVE}" role="tabpanel">
			{VIEWMYMODELVIDEOSTAB}</div>
		<div id="tuning" class="tab-pane fade {MODELTUNINGACTIVE}"
			role="tabpanel">{VIEWMODELTUNINGTAB}</div>
		<div id="settings" class="tab-pane {MODELSETTINGSACTIVE}"
			role="tabpanel">{VIEWMYMODELSETTINGSTAB}</div>
	</div>
</div>