<div class="panel panel-warning">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">
			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
			About
		</h4>
		<div class="btn-group pull-right">
			<a href="./viewmodel.php?id={VIEWMYMODELID}"
				class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
		</div>
	</div>
	<form id="editModel" name="editModel" class="form-horizontal"
		action="viewmodel.php?id={VIEWMYMODELID}&updatemodel=true"
		method="post">
		<div class="panel-body">
			<div class="col-xs-10">
				<div class="row">
					<div class="form-group col-xs-6">
						<label class="control-label" for="modelname"> Name:</label> <input
							class="form-control" id="modelname" name="modelname" type="text" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-6">
						<label class="control-label" for="modeltype"> Type:</label> <input
							class="form-control" id="modeltype" name="modeltype" type="text" />
					</div>
				</div>

				<div class="row">
					<div class="form-group col-xs-6">
						<label class="control-label" for="modeldescription">
							Description:</label>
						<textarea class="form-control" id="modeldescription"
							name="modeldescription"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="control-group pull-left">
						<div class="controls">
							<button id="submit" name="submit" type="submit"
								class="btn btn-success">Save</button>
						</div>
					</div>
				</div>

				<div class="row">
					<img src="{VIEWMYMODELPICTURE}" class="img-rounded"
						alt="Model profile picture" width="300">
				</div>
			</div>
		</div>
	</form>
	<form action="viewmodel.php?update=profilepicture&id={VIEWMYMODELID}"
		method="post" enctype="multipart/form-data">
		<label>Change profile picture</label> <input type="file" name="pic"
			id="fileToUpload"> <input type="submit" value="Upload Image"
			name="uploadImage">
	</form>
</div>