
<div class="panel panel-primary">
	<div class="panel-heading" role="tab" id="heading{VIEWMODELCOMPONENTID}">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion"
				href="#collapse{VIEWMODELCOMPONENTID}" aria-expanded="true" aria-controls="collapse{VIEWMODELCOMPONENTID}">
				{VIEWMODELCOMPONENTNAME} </a>
		</h4>
	</div>
	<div id="collapse{VIEWMODELCOMPONENTID}" class="panel-collapse collapse"
		role="tabpanel" aria-labelledby="heading{VIEWMODELCOMPONENTID}">
		<div class="panel-body">
			<table class="table table-bordered"{COMPONENTFEATURESTABLE}>
				<thead>
					<tr>
						<th>Features</th>
					</tr>
				</thead>
				<tbody id="featuresTableBody">{COMPONENTFEATURES}
				</tbody>
			</table>
			<table class="table table-bordered"{COMPONENTSPECSTABLE}>
				<thead>
					<tr>
						<th>Spec</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody id="specsTableBody">{COMPONENTSPECS}
				</tbody>
			</table>
		</div>
	</div>
</div>