  <div class="panel panel-warning">
    <div class="panel-heading" role="tab" id="heading{VIEWMODELCOMPONENTID}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{VIEWMODELCOMPONENTID}" aria-expanded="true" aria-controls="collapse{VIEWMODELCOMPONENTID}">
          {VIEWMODELCOMPONENTNAME}
        </a>
      </h4>
    </div>
    <div id="collapse{VIEWMODELCOMPONENTID}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{VIEWMODELCOMPONENTID}">
      	<div class="panel-body">
		<form id="editModelComponent" name="editModelComponent"
			class="form-horizontal"
			action="viewmodel.php?id={VIEWMYMODELID}&component_id={VIEWMODELCOMPONENTID}"
			method="post">
			<table class="table table-bordered"{COMPONENTFEATURESTABLE}>
				<thead>
					<tr>
						<th>Features</th>
					</tr>
				</thead>
				<tbody id="featuresTableBody">{COMPONENTFEATURES}
				</tbody>
			</table>
			<table class="table table-bordered"{COMPONENTSPECSTABLE}>
				<thead>
					<tr>
						<th>Spec</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody id="specsTableBody">{COMPONENTSPECS}
				</tbody>
			</table>
			<button id="submit" name="submit" type="submit"
				class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
				Save
			</button>
			<a class="btn btn-danger"
				href="viewmodel.php?id={VIEWMYMODELID}&edit=components&component_id={VIEWMODELCOMPONENTID}&deletecomponent={VIEWMODELCOMPONENTID}"><span
				class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
			<a class="btn btn-default"
				href="viewmodel.php?id={VIEWMYMODELID}&edit=components"><span
				class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
		</form>
	</div>
    </div>
  </div>