<div>
	<ul class="nav nav-tabs" role="tablist">
		<li {PROFILETABACTIVE} role="presentation"><a
			aria-controls="profile" data-toggle="tab" href="#profile" role="tab"><span
				class="glyphicon glyphicon-user" aria-hidden="true"></span> Profile</a></li>
		<li {MODELSTABACTIVE} role="presentation"><a
			aria-controls="models" data-toggle="tab" href="#models" role="tab"><span
				class="glyphicon glyphicon-plane" aria-hidden="true"></span> Models</a></li>
		<li {SETTINGSTABACTIVE} role="presentation"><a
			aria-controls="settings" data-toggle="tab" href="#settings"
			role="tab"><span class="glyphicon glyphicon-cog"
				aria-hidden="true"></span> Settings</a></li>
	</ul>
	<div class="tab-content">
		<div id="profile" class="tab-pane {PROFILEACTIVE}" role="tabpanel">
			{MYACCOUNTPROFILETAB}
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-left">
						<span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
						Clubs
					</h4>
					<div class="btn-group pull-right">
						<a href="./myaccount.php?edit=clubs"
							class="btn btn-default btn-sm"><span
							class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							Edit</a>
					</div>
				</div>
				<div class="panel-body">Club Stuff</div>
			</div>
		</div>
		<div id="models" class="tab-pane {MODELSACTIVE}" role="tabpanel">
			{MYACCOUNTMODELSTAB}</div>
		<div id="settings" class="tab-pane {SETTINGSACTIVE}" role="tabpanel">Settings</div>
	</div>
</div>