<div class="panel panel-warning">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			Location
		</h4>
		<div class="btn-group pull-right">
			<a href="./myaccount.php" class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
		</div>
	</div>
	<div class="panel-body">
		<form class="form" action="myaccount.php?update=location"
			method="post">
			<div class="form-group">
				<label>City: </label> <input type="text" placeholder="{CITY}"
					name="city" class="form-control">
			</div>
			<div class="form-group">
				<label>State: </label> <input type="text" placeholder="{STATE}"
					name="state" class="form-control">
			</div>
			<div class="form-group">
				<label>Country: </label> <input type="text" placeholder="{COUNTRY}"
					name="country" class="form-control">
			</div>
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
				Save
			</button>
		</form>
	</div>
</div>