<div class="panel panel-warning">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">
			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
			Account Information
		</h4>
		<div class="btn-group pull-right">
			<a href="./myaccount.php" class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</a>
		</div>
	</div>

	<div class="panel-body">
		<form class="form" action="myaccount.php?update=account" method="post">
			<div class="form-group">
				<label>Email: </label> <input type="email" placeholder="{EMAIL}"
					name="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Nickname: </label> <input type="text"
					placeholder="{NICKNAME}" name="nickname" class="form-control">
			</div>
			<div class="form-group">
				<label>Change Password: </label> <input type="password"
					placeholder="" id="password" name="password" class="form-control">
			</div>
			<div class="form-group">
				<label>Confirm Password: </label> <input type="password"
					placeholder="" id="passwordConfirm" name="passwordConfirm"
					class="form-control">
			</div>
			<button type="submit" class="btn btn-success">
				<span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
				Save
			</button>
		</form>
		<br>
		<p>
			<img src="{PROFILEPIC}" class="img-rounded"
				alt="Your profile picture" width="300">
		</p>
		<form action="myaccount.php?update=account" method="post"
			enctype="multipart/form-data">
			<label>Change profile picture</label> <input type="file" name="pic"
				id="fileToUpload"> <input type="submit" value="Upload Image"
				name="uploadImage">
		</form>
	</div>
</div>