<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			Location
		</h4>
		<div class="btn-group pull-right">
			<a href="./myaccount.php?edit=location"
				class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><label>City:</label> {CITY}</li>
			<li class="list-group-item"><label>State:</label> {STATE}</li>
			<li class="list-group-item"><label>Country:</label> {COUNTRY}</li>
		</ul>
	</div>
</div>