<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h4 class="panel-title pull-left">
			<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
			Account Information
		</h4>
		<div class="btn-group pull-right">
			<a href="./myaccount.php?edit=account" class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</a>
		</div>
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item"><label>Email:</label> {EMAIL}</li>
			<li class="list-group-item"><label>Nickname:</label> {NICKNAME}</li>
		</ul>
		<p>
			<img src="{PROFILEPIC}" class="img-rounded"
				alt="Your profile picture" width="300">
		</p>
	</div>
</div>