<div class="panel panel-primary">
	<div class="panel-heading" role="tab" id="heading{MYMODELLINKID}">
		<h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion"
				href="#collapse{MYMODELLINKID}" aria-expanded="true"
				aria-controls="collapse{MYMODELLINKID}"> {MYMODELLINKNAME} </a>
		</h4>
	</div>
	<div id="collapse{MYMODELLINKID}" class="panel-collapse collapse"
		role="tabpanel" aria-labelledby="heading{MYMODELLINKID}">
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-2">
					<img src="{MYMODELIMAGE}" alt="image of {MYMODLENAME}" width="150">
				</div>
				<div class="col-xs-10">
					<ul class="list-group">
						<li class="list-group-item"><label>Type:</label>
							{MYMODELLINKTYPE}</li>
						<li class="list-group-item"><label>Description:</label>
							{MYMODELLINKDESCRIPTION}</li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12">
					<a class="btn btn-success pull-left"
						href="viewmodel.php?id={MYMODELLINKID}"><span
						class="glyphicon glyphicon-plane" aria-hidden="true"></span> View
						Model</a> <a class="btn btn-danger pull-right"
						href="myaccount.php?deletemodel={MYMODELLINKID}"><span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>