<script src="./scripts/componentsForm.js"></script>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="main_content">
			<div class="three">
				<form action="{COMPONENTFORMDESTINATION}" id="mainform"
					method="post" name="mainform" class="form-inline">
					<div class="input-group">

						<div class="input-group-btn">
							<button type="button" class="btn btn-primary dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" name="btnAdd" id="btnAdd" disabled>
								Add <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a onclick="addSpec('')">Spec</a></li>
								<li><a onclick="addFeature('')">Feature</a></li>
							</ul>
						</div>

						<select class="form-control" id="componentname"
							name="componentname" onchange="selectionMade()">
							<option>Select One</option>
							<option>Battery</option>
							<option>Camera</option>
							<option>(ESC) Electronic Speed Controller</option>
							<option>Flight Controller</option>
							<option>Frame</option>
							<option>FPV Transmitter</option>
							<option>FPV Camera</option>
							<option>GPS Module</option>
							<option>Motor</option>
							<option>Propeller</option>
							<option>Receiver</option>
							<option>Servo</option>
						</select>
					</div>
					<hr id="hrsubmit" name="hrsubmit" style="display: none;"/>
					<div class="row col-xs-10">
						<span id="myForm"></span>
					</div>
					<div class="row col-xs-10">
						<button id="submitbtn" class="btn btn-primary" type="submit"
							style="display: none;">
							<span class="glyphicon glyphicon-plus" aria-hidden="true""></span>
							Add Component
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>