<script>
	function validateForm() {
		var password = document.forms["createAccount"]["password"].value;
		var passwordConfirm = document.forms["createAccount"]["passwordConfirm"].value;

		if (password.length < 8) {
			document.getElementById("passwordGroup").setAttribute("class",
					"form-group has-error");
			document.getElementById("passwordConfirmGroup").setAttribute(
					"class", "form-group");
			alert("Password must be atleast 8 characters");
			return false;
		}

		if (password != passwordConfirm) {
			document.getElementById("passwordConfirmGroup").setAttribute(
					"class", "form-group has-error");
			document.getElementById("passwordGroup").setAttribute("class",
					"form-group has-error");
			alert("Passwords do not match");
			return false;
		}
		return true;
	}
</script>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
	data-target="#myModal">Create Account</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">

		<form id="createAccount" name="createAccount" class="form-horizontal"
			action="myaccount.php?newaccount=true"
			onsubmit="return validateForm()" method="post">

			<div class="modal-content col-xs-10">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">New Account</h4>
				</div>
				<div class="modal-body">

					<!-- Text input-->
					<div class="form-group">
						<label class="control-label" for="email"> Email:</label> <input
							class="form-control" id="email" name="email" type="email"
							required />
					</div>

					<!-- Password input-->
					<div id="passwordGroup" class="form-group">
						<label class="control-label requiredField" for="password">Password:</label>
						<input class="form-control" id="password" name="password"
							type="password" required />
					</div>

					<div id="passwordConfirmGroup" class="form-group">
						<label class="control-label requiredField" for="passwordConfirm">Confirm
							Password:</label> <input class="form-control" id="passwordConfirm"
							name="passwordConfirm" type="password" required />
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="control-label requiredField" for="nickname">Name/Nickname:</label>
						<input class="form-control" id="nickname" name="nickname"
							placeholder="Optional" type="text" />
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="control-label requiredField" for="city">City:</label>
						<input class="form-control" id="city" name="city"
							placeholder="Optional" type="text" />
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="control-label requiredField" for="state">State:</label>
						<input class="form-control" id="state" name="state"
							placeholder="Optional" type="text" />
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="control-label requiredField" for="country">Country:</label>
						<input class="form-control" id="country" placeholder="Optional"
							name="country" type="text" />
					</div>

				</div>
				<div class="modal-footer">
					<!-- Button -->
					<div class="control-group pull-right">
						<div class="controls">
							<button id="submit" name="submit" type="submit"
								class="btn btn-success">Create Account</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

