</div>
<div id="navbar" class="navbar-collapse collapse">
	<form class="navbar-form navbar-right" action="myaccount.php"
		method="post">
		<div class="form-group">
			<input type="text" placeholder="Email" name="email"
				class="form-control">
		</div>
		<div class="form-group">
			<input type="password" placeholder="Password" name="password"
				class="form-control">
		</div>
		<button type="submit" class="btn btn-success">Sign in</button>
	</form>
</div>
<!--/.navbar-collapse -->