<!-- Button trigger modal -->
<a type="button" class="btn btn-primary" data-toggle="modal"
	data-target="#myModal"><span class="glyphicon glyphicon-plus"
	aria-hidden="true"></span> New Model</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<form action="myaccount.php" method="post" class="form-horizontal">

			<div class="modal-content col-xs-12">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">New Model</h4>
				</div>
				<div class="modal-body">

					<div class="form-group">
						<label class="control-label requiredField" for="modelname">
							Name: </label> <input class="form-control" id="modelname"
							name="modelname" type="text" required />
					</div>
					<div class="form-group">
						<label class="control-label requiredField" for="modeltype">
							Type: </label> <select class="select form-control" id="modeltype"
							name="modeltype">
							<option value="Tricopter">Tricopter</option>
							<option value="Quadcopter" selected>Quadcopter</option>
							<option value="Hexacopter">Hexacopter</option>
							<option value="Octocopter">Octocopter</option>
							<option value="Plane">Plane</option>
							<option value="Helicopter">Helicopter</option>
							<option value="Car / Truck">Car / Truck</option>
							<option value="Boat">Boat</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label " for="modeldescription">
							Description: </label>
						<textarea class="form-control" cols="40" id="modeldescription"
							name="modeldescription" rows="10" placeholder="Optional"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<div class="control-group pull-right">
						<div class="controls">
							<button class="btn btn-success" name="infonext" type="submit">
								Save <span class="glyphicon glyphicon-floppy-saved"
									aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>