<div class="alert alert-info alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong><span class="glyphicon glyphicon-info-sign"
		aria-hidden="true"></span> {INFOALERTTITLE}</strong> {INFOALERTMESSAGE}
</div>