<div class="alert alert-success alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<strong><span class="glyphicon glyphicon-ok"
		aria-hidden="true"></span> {SUCCESSTITLE}</strong> {SUCCESSMESSAGE}
</div>