<a class="navbar-brand" href="myaccount.php"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Account</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
	<a class="navbar-brand navbar-right" href="index.php?logout=true">Log
		Out</a> <span class="navbar-brand navbar-right">Welcome {NICKNAME}!</span>
</div>